.App {
  font-family: sans-serif;
  text-align: center;
}

div {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;  
}

button {
  width: 65px;
  margin-left: 10px;
}

img {
  margin-left: 10px;
}

